@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

::-webkit-scrollbar-auto {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-auto:vertical {
  width: 10px;
}

::-webkit-scrollbar-auto:horizontal {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 9999px;
  background-clip: content-box;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}
